<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Bill Book</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        body{
            background: rgb(228, 232, 224);
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark"
         style="background-color: rgb(181,105,232)">
        <div>
            <a th:if="${session.user}" th:href="@{/bookuser}" class="navbar-brand">Library's Books</a>
        </div>
        <ul class="navbar-nav">
            <li th:if="${session.user}"><a th:href="@{/bookuser/bookcart}" class="nav-link">Giỏ hàng</a></li>
        </ul>
        <ul class="navbar-nav">
            <li th:if="${session.user}"><a th:href="@{/bookuser/bookbill}" class="nav-link">Hóa đơn</a></li>
        </ul>
        <ul class="navbar-nav">
            <li th:if="${session.user}"><a th:href="@{/log-out}" class="nav-link">Log out</a></li>
        </ul>
        <div>
            <a th:if="${session.username}" th:href="@{/books}" class="navbar-brand">Library's Books</a>
        </div>
        <ul class="navbar-nav">
            <li th:if="${session.username}"><a th:href="@{/book/bookbill}" class="nav-link">Look Bill</a></li>
        </ul>
        <ul class="navbar-nav">
            <li th:if="${session.username}"><a th:href="@{/log-out}" class="nav-link">Log out</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <br>
    <div class="text-center">
        <h1>List Book In Bill</h1>
    </div>
    <div class="row">
        <p>username: </p> &ensp;
        <p th:text="${bookcarts.get(0).getBill().getUser().getEmail()}"></p>
        &ensp;|&ensp;
        <p>id bill: </p> &ensp;
        <p th:text="${bookcarts.get(0).getBill().getBillid()}"></p>
        &ensp;|&ensp;
            <p>time create bill: </p> &ensp;
            <p th:text="${bookcarts.get(0).getBill().getTimebill()}"></p>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Book Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Number of Pages </th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody class="table-info">
        <tr th:each="bookcart : ${bookcarts}">
            <td><img  th:src="@{'/getimage/' + ${bookcart.getBook().getPhoto()}}" width="100" height="100"></td>
            <td th:text="${bookcart.getBook().getTitle()}"></td>
            <td th:text="${bookcart.getBook().getAuthor()}"></td>
            <td th:text="${bookcart.getBook().getCategory()}"></td>
            <td th:text="${bookcart.getBook().getPage()}"></td>
            <td th:text="${bookcart.getSoluong()}"></td>
            <td>
                <a th:if="${session.user}" th:href="@{/bookuser/detail/{id}(id = ${bookcart.getBook().getBookcode()})}" class="btn btn-success">View Book</a>
                <a th:if="${session.username}" th:href="@{/book/editBook/{id}(id = ${bookcart.getBook().getBookcode()})}" class="btn btn-success">View Book</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-10">

        </div>
        <div class="col-2">
            <div class="row">
        &ensp;
        <form th:action="@{/deleteabill/{id}(id=${bookcarts.get(0).getBill().getBillid()})}" th:method="DELETE" onclick="return (confirm('Bạn có chắc muốn xóa không?'));">
            <button class="btn btn-danger" style="float: right">Delete Bill</button>
        </form>
        &ensp;
        <div th:if="${session.user}">
            <a  th:href="@{/bookuser/bookbill}" class="btn btn-secondary" style="float: right">Back</a>
        </div>
        <div th:if="${session.username}">
            <a  th:href="@{/book/bookbill}" class="btn btn-secondary" style="float: right">Back</a>
        </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>